{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "no-plusplus": "off",
    "no-unused-vars": "warn",
    "jsx-quotes": ["warn", "prefer-single"],
    "comma-dangle": ["error", "never"],
    "semi": "warn",
    "key-spacing": "warn"
  }
}