/*
black :#252A34
red :#FF2E63
white : #EAEAEA
green : #08D9D6
*/

.form-box {
  display: flex;
  font-family: 'Oleo Script', cursive;
  justify-content: center;
  align-items: center;

}

.form-input {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  font-size: 4rem;
  color : #f8f8f8;
  height: 4rem;
  width: 27%;
  outline: none;
  border: none;
  border-bottom: 2px dashed #f8f8f8;
  background-color: #252A34
}
.form-text {
  font-size : 3rem;
  padding-right: 2rem;
}
.form-button {
  padding-left: 2rem;
  font-size : 4rem;
  margin-left: 1rem;
  border-radius: 3px;
  color: white;
  font-weight: 100;
  cursor: pointer;
}

.form-button:hover {
  transition-duration: 0.5s;
  color: #FF2E63;
}